.p {
  display: inline-block;
}

li {
  display: inline-block;
}

h5 {
  padding: 5px;
  margin-top: 0px;
  font-size: 13px;
}
.col-4 {
  width: 210px;
  margin: 10px;
  display: inline-block;
  border: solid 0.5px orange;
  border-radius: 9%;
  text-align: center;
  box-shadow: 0.5px 0.5px 18px rgb(129, 129, 129);
}
img {
  border-radius: 9%;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: rgb(192, 106, 0);
  font-weight: 700;
}
h6 {
  margin: 0px;
}
.title {
  margin-top: 25px;
}
.desc {
  padding: 10px;
  padding-left: 0px;
}
.diet {
  margin-top: 35px;
}

.btn {
  width: 18rem;
}
