body {
  background-color: teal;
}

h4 {
  background-color: tomato;
}

.p {
  display: inline-block;
}

img {
  width: 100px;
  height: 100px;
}

li {
  display: inline-block;
}

#hc {
  background-color: yellow;
}
